In [1]:
import pandas as pd

In [2]:
d = {'Cars':['honda','bmw','tesla'],
    'Years':[2015,2018,2022]}

In [3]:
pd.DataFrame(d)

    Cars  Years
0  honda   2015
1    bmw   2018
2  tesla   2022

In [4]:
years = [2015,2018,2022]

In [7]:
pd.Series(years)

0    2015
1    2018
2    2022
dtype: int64

In [8]:
df = pd.read_csv("D:\practice_data_set\dirtydata.csv")
df

    Duration          Date  Pulse  Maxpulse  Calories  Current
0         60  '2020/12/01'  110.0       130     409.1     1990
1         60  '2020/12/02'  117.0       145     479.0     1991
2         60  '2020/12/03'  103.0       135     340.0     1992
3         45  '2020/12/04'  109.0       175     282.4     1993
4         45  '2020/12/05'  117.0       148     406.0     1994
5         60  '2020/12/06'  102.0       127     300.0     1995
6         60  '2020/12/07'  110.0       136     374.0     1996
7        450  '2020/12/08'  104.0       134     253.3     1997
8         30  '2020/12/09'  109.0       133     195.1     1998
9         60  '2020/12/10'   98.0       124     269.0     1999
10        60  '2020/12/11'  103.0       147     329.3     2000
11        60  '2020/12/12'  100.0       120     250.7     2001
12        60  '2020/12/12'  100.0       120     250.7     2002
13        60  '2020/12/13'    NaN       128     345.3     2003
14        60  '2020/12/14'  104.0       132     379.3     2004
15        60  '2020/12/15'   98.0       123     275.0     2005
16        60  '2020/12/16'   98.0       120     215.2     2006
17        60  '2020/12/17'  100.0       120     300.0     2007
18        45  '2020/12/18'   90.0       112       NaN     2008
19        60  '2020/12/19'  103.0       123     323.0     2009
20        45  '2020/12/20'   97.0       125     243.0     2010
21        60  '2020/12/21'  108.0       131     364.2     2011
22        45           NaN  100.0       119     282.0     2012
23        60  '2020/12/23'  130.0       101     300.0     2013
24        45  '2020/12/24'  105.0       132     246.0     2014
25        60  '2020/12/25'  102.0       126     334.5     2015
26        60      20201226  100.0       120     250.0     2016
27        60  '2020/12/27'   92.0       118     241.0     2017
28        60  '2020/12/28'  103.0       132       NaN     2018
29        60  '2020/12/29'  100.0       132     280.0     2019
30        60  '2020/12/30'  102.0       129     380.3     2020
31        60  '2020/12/31'   92.0       115     243.0     2021

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     31 non-null     float64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
 5   Current   32 non-null     int64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.6+ KB

In [10]:
df.shape

(32, 6)

In [11]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories  Current
0        60  '2020/12/01'  110.0       130     409.1     1990
1        60  '2020/12/02'  117.0       145     479.0     1991
2        60  '2020/12/03'  103.0       135     340.0     1992
3        45  '2020/12/04'  109.0       175     282.4     1993
4        45  '2020/12/05'  117.0       148     406.0     1994

In [12]:
df.tail()

    Duration          Date  Pulse  Maxpulse  Calories  Current
27        60  '2020/12/27'   92.0       118     241.0     2017
28        60  '2020/12/28'  103.0       132       NaN     2018
29        60  '2020/12/29'  100.0       132     280.0     2019
30        60  '2020/12/30'  102.0       129     380.3     2020
31        60  '2020/12/31'   92.0       115     243.0     2021

In [13]:
df.sample()

    Duration          Date  Pulse  Maxpulse  Calories  Current
28        60  '2020/12/28'  103.0       132       NaN     2018

In [15]:
df.describe()

         Duration       Pulse    Maxpulse    Calories      Current
count   32.000000   31.000000   32.000000   30.000000    32.000000
mean    68.437500  103.419355  128.500000  304.680000  2005.500000
std     70.039591    7.948896   12.998759   66.003779     9.380832
min     30.000000   90.000000  101.000000  195.100000  1990.000000
25%     60.000000  100.000000  120.000000  250.700000  1997.750000
50%     60.000000  102.000000  127.500000  291.200000  2005.500000
75%     60.000000  106.500000  132.250000  343.975000  2013.250000
max    450.000000  130.000000  175.000000  479.000000  2021.000000

In [17]:
df.isnull()

    Duration   Date  Pulse  Maxpulse  Calories  Current
0      False  False  False     False     False    False
1      False  False  False     False     False    False
2      False  False  False     False     False    False
3      False  False  False     False     False    False
4      False  False  False     False     False    False
5      False  False  False     False     False    False
6      False  False  False     False     False    False
7      False  False  False     False     False    False
8      False  False  False     False     False    False
9      False  False  False     False     False    False
10     False  False  False     False     False    False
11     False  False  False     False     False    False
12     False  False  False     False     False    False
13     False  False   True     False     False    False
14     False  False  False     False     False    False
15     False  False  False     False     False    False
16     False  False  False     False     False    False
17     False  False  False     False     False    False
18     False  False  False     False      True    False
19     False  False  False     False     False    False
20     False  False  False     False     False    False
21     False  False  False     False     False    False
22     False   True  False     False     False    False
23     False  False  False     False     False    False
24     False  False  False     False     False    False
25     False  False  False     False     False    False
26     False  False  False     False     False    False
27     False  False  False     False     False    False
28     False  False  False     False      True    False
29     False  False  False     False     False    False
30     False  False  False     False     False    False
31     False  False  False     False     False    False

In [18]:
df.isnull().sum()

Duration    0
Date        1
Pulse       1
Maxpulse    0
Calories    2
Current     0
dtype: int64

In [19]:
df.dropna()

    Duration          Date  Pulse  Maxpulse  Calories  Current
0         60  '2020/12/01'  110.0       130     409.1     1990
1         60  '2020/12/02'  117.0       145     479.0     1991
2         60  '2020/12/03'  103.0       135     340.0     1992
3         45  '2020/12/04'  109.0       175     282.4     1993
4         45  '2020/12/05'  117.0       148     406.0     1994
5         60  '2020/12/06'  102.0       127     300.0     1995
6         60  '2020/12/07'  110.0       136     374.0     1996
7        450  '2020/12/08'  104.0       134     253.3     1997
8         30  '2020/12/09'  109.0       133     195.1     1998
9         60  '2020/12/10'   98.0       124     269.0     1999
10        60  '2020/12/11'  103.0       147     329.3     2000
11        60  '2020/12/12'  100.0       120     250.7     2001
12        60  '2020/12/12'  100.0       120     250.7     2002
14        60  '2020/12/14'  104.0       132     379.3     2004
15        60  '2020/12/15'   98.0       123     275.0     2005
16        60  '2020/12/16'   98.0       120     215.2     2006
17        60  '2020/12/17'  100.0       120     300.0     2007
19        60  '2020/12/19'  103.0       123     323.0     2009
20        45  '2020/12/20'   97.0       125     243.0     2010
21        60  '2020/12/21'  108.0       131     364.2     2011
23        60  '2020/12/23'  130.0       101     300.0     2013
24        45  '2020/12/24'  105.0       132     246.0     2014
25        60  '2020/12/25'  102.0       126     334.5     2015
26        60      20201226  100.0       120     250.0     2016
27        60  '2020/12/27'   92.0       118     241.0     2017
29        60  '2020/12/29'  100.0       132     280.0     2019
30        60  '2020/12/30'  102.0       129     380.3     2020
31        60  '2020/12/31'   92.0       115     243.0     2021

In [20]:
df2 = df.dropna()
df2

    Duration          Date  Pulse  Maxpulse  Calories  Current
0         60  '2020/12/01'  110.0       130     409.1     1990
1         60  '2020/12/02'  117.0       145     479.0     1991
2         60  '2020/12/03'  103.0       135     340.0     1992
3         45  '2020/12/04'  109.0       175     282.4     1993
4         45  '2020/12/05'  117.0       148     406.0     1994
5         60  '2020/12/06'  102.0       127     300.0     1995
6         60  '2020/12/07'  110.0       136     374.0     1996
7        450  '2020/12/08'  104.0       134     253.3     1997
8         30  '2020/12/09'  109.0       133     195.1     1998
9         60  '2020/12/10'   98.0       124     269.0     1999
10        60  '2020/12/11'  103.0       147     329.3     2000
11        60  '2020/12/12'  100.0       120     250.7     2001
12        60  '2020/12/12'  100.0       120     250.7     2002
14        60  '2020/12/14'  104.0       132     379.3     2004
15        60  '2020/12/15'   98.0       123     275.0     2005
16        60  '2020/12/16'   98.0       120     215.2     2006
17        60  '2020/12/17'  100.0       120     300.0     2007
19        60  '2020/12/19'  103.0       123     323.0     2009
20        45  '2020/12/20'   97.0       125     243.0     2010
21        60  '2020/12/21'  108.0       131     364.2     2011
23        60  '2020/12/23'  130.0       101     300.0     2013
24        45  '2020/12/24'  105.0       132     246.0     2014
25        60  '2020/12/25'  102.0       126     334.5     2015
26        60      20201226  100.0       120     250.0     2016
27        60  '2020/12/27'   92.0       118     241.0     2017
29        60  '2020/12/29'  100.0       132     280.0     2019
30        60  '2020/12/30'  102.0       129     380.3     2020
31        60  '2020/12/31'   92.0       115     243.0     2021

In [21]:
df.dropna(inplace=True)

In [22]:
df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
Current     0
dtype: int64

In [23]:
df.dropna(axis=1)

    Duration          Date  Pulse  Maxpulse  Calories  Current
0         60  '2020/12/01'  110.0       130     409.1     1990
1         60  '2020/12/02'  117.0       145     479.0     1991
2         60  '2020/12/03'  103.0       135     340.0     1992
3         45  '2020/12/04'  109.0       175     282.4     1993
4         45  '2020/12/05'  117.0       148     406.0     1994
5         60  '2020/12/06'  102.0       127     300.0     1995
6         60  '2020/12/07'  110.0       136     374.0     1996
7        450  '2020/12/08'  104.0       134     253.3     1997
8         30  '2020/12/09'  109.0       133     195.1     1998
9         60  '2020/12/10'   98.0       124     269.0     1999
10        60  '2020/12/11'  103.0       147     329.3     2000
11        60  '2020/12/12'  100.0       120     250.7     2001
12        60  '2020/12/12'  100.0       120     250.7     2002
14        60  '2020/12/14'  104.0       132     379.3     2004
15        60  '2020/12/15'   98.0       123     275.0     2005
16        60  '2020/12/16'   98.0       120     215.2     2006
17        60  '2020/12/17'  100.0       120     300.0     2007
19        60  '2020/12/19'  103.0       123     323.0     2009
20        45  '2020/12/20'   97.0       125     243.0     2010
21        60  '2020/12/21'  108.0       131     364.2     2011
23        60  '2020/12/23'  130.0       101     300.0     2013
24        45  '2020/12/24'  105.0       132     246.0     2014
25        60  '2020/12/25'  102.0       126     334.5     2015
26        60      20201226  100.0       120     250.0     2016
27        60  '2020/12/27'   92.0       118     241.0     2017
29        60  '2020/12/29'  100.0       132     280.0     2019
30        60  '2020/12/30'  102.0       129     380.3     2020
31        60  '2020/12/31'   92.0       115     243.0     2021

In [27]:
df.drop(['Date'],axis=1)

    Duration  Pulse  Maxpulse  Calories  Current
0         60  110.0       130     409.1     1990
1         60  117.0       145     479.0     1991
2         60  103.0       135     340.0     1992
3         45  109.0       175     282.4     1993
4         45  117.0       148     406.0     1994
5         60  102.0       127     300.0     1995
6         60  110.0       136     374.0     1996
7        450  104.0       134     253.3     1997
8         30  109.0       133     195.1     1998
9         60   98.0       124     269.0     1999
10        60  103.0       147     329.3     2000
11        60  100.0       120     250.7     2001
12        60  100.0       120     250.7     2002
14        60  104.0       132     379.3     2004
15        60   98.0       123     275.0     2005
16        60   98.0       120     215.2     2006
17        60  100.0       120     300.0     2007
19        60  103.0       123     323.0     2009
20        45   97.0       125     243.0     2010
21        60  108.0       131     364.2     2011
23        60  130.0       101     300.0     2013
24        45  105.0       132     246.0     2014
25        60  102.0       126     334.5     2015
26        60  100.0       120     250.0     2016
27        60   92.0       118     241.0     2017
29        60  100.0       132     280.0     2019
30        60  102.0       129     380.3     2020
31        60   92.0       115     243.0     2021

In [28]:
df['Duration']

0      60
1      60
2      60
3      45
4      45
5      60
6      60
7     450
8      30
9      60
10     60
11     60
12     60
14     60
15     60
16     60
17     60
19     60
20     45
21     60
23     60
24     45
25     60
26     60
27     60
29     60
30     60
31     60
Name: Duration, dtype: int64

In [29]:
df['Duration'].replace(60,11)

0      11
1      11
2      11
3      45
4      45
5      11
6      11
7     450
8      30
9      11
10     11
11     11
12     11
14     11
15     11
16     11
17     11
19     11
20     45
21     11
23     11
24     45
25     11
26     11
27     11
29     11
30     11
31     11
Name: Duration, dtype: int64

In [30]:
for i in df['Duration']:
    print(i)

60
60
60
45
45
60
60
450
30
60
60
60
60
60
60
60
60
60
45
60
60
45
60
60
60
60
60
60

In [31]:
for i in df['Duration']:
    if i > 60 or i < 15:
        df['Duration'].replace(i,60,inplace=True)

In [32]:
df

    Duration          Date  Pulse  Maxpulse  Calories  Current
0         60  '2020/12/01'  110.0       130     409.1     1990
1         60  '2020/12/02'  117.0       145     479.0     1991
2         60  '2020/12/03'  103.0       135     340.0     1992
3         45  '2020/12/04'  109.0       175     282.4     1993
4         45  '2020/12/05'  117.0       148     406.0     1994
5         60  '2020/12/06'  102.0       127     300.0     1995
6         60  '2020/12/07'  110.0       136     374.0     1996
7         60  '2020/12/08'  104.0       134     253.3     1997
8         30  '2020/12/09'  109.0       133     195.1     1998
9         60  '2020/12/10'   98.0       124     269.0     1999
10        60  '2020/12/11'  103.0       147     329.3     2000
11        60  '2020/12/12'  100.0       120     250.7     2001
12        60  '2020/12/12'  100.0       120     250.7     2002
14        60  '2020/12/14'  104.0       132     379.3     2004
15        60  '2020/12/15'   98.0       123     275.0     2005
16        60  '2020/12/16'   98.0       120     215.2     2006
17        60  '2020/12/17'  100.0       120     300.0     2007
19        60  '2020/12/19'  103.0       123     323.0     2009
20        45  '2020/12/20'   97.0       125     243.0     2010
21        60  '2020/12/21'  108.0       131     364.2     2011
23        60  '2020/12/23'  130.0       101     300.0     2013
24        45  '2020/12/24'  105.0       132     246.0     2014
25        60  '2020/12/25'  102.0       126     334.5     2015
26        60      20201226  100.0       120     250.0     2016
27        60  '2020/12/27'   92.0       118     241.0     2017
29        60  '2020/12/29'  100.0       132     280.0     2019
30        60  '2020/12/30'  102.0       129     380.3     2020
31        60  '2020/12/31'   92.0       115     243.0     2021

In [35]:
df['Year'] = 2023

In [36]:
df

    Duration          Date  Pulse  Maxpulse  Calories  Current  Year
0         60  '2020/12/01'  110.0       130     409.1     1990  2023
1         60  '2020/12/02'  117.0       145     479.0     1991  2023
2         60  '2020/12/03'  103.0       135     340.0     1992  2023
3         45  '2020/12/04'  109.0       175     282.4     1993  2023
4         45  '2020/12/05'  117.0       148     406.0     1994  2023
5         60  '2020/12/06'  102.0       127     300.0     1995  2023
6         60  '2020/12/07'  110.0       136     374.0     1996  2023
7         60  '2020/12/08'  104.0       134     253.3     1997  2023
8         30  '2020/12/09'  109.0       133     195.1     1998  2023
9         60  '2020/12/10'   98.0       124     269.0     1999  2023
10        60  '2020/12/11'  103.0       147     329.3     2000  2023
11        60  '2020/12/12'  100.0       120     250.7     2001  2023
12        60  '2020/12/12'  100.0       120     250.7     2002  2023
14        60  '2020/12/14'  104.0       132     379.3     2004  2023
15        60  '2020/12/15'   98.0       123     275.0     2005  2023
16        60  '2020/12/16'   98.0       120     215.2     2006  2023
17        60  '2020/12/17'  100.0       120     300.0     2007  2023
19        60  '2020/12/19'  103.0       123     323.0     2009  2023
20        45  '2020/12/20'   97.0       125     243.0     2010  2023
21        60  '2020/12/21'  108.0       131     364.2     2011  2023
23        60  '2020/12/23'  130.0       101     300.0     2013  2023
24        45  '2020/12/24'  105.0       132     246.0     2014  2023
25        60  '2020/12/25'  102.0       126     334.5     2015  2023
26        60      20201226  100.0       120     250.0     2016  2023
27        60  '2020/12/27'   92.0       118     241.0     2017  2023
29        60  '2020/12/29'  100.0       132     280.0     2019  2023
30        60  '2020/12/30'  102.0       129     380.3     2020  2023
31        60  '2020/12/31'   92.0       115     243.0     2021  2023

In [37]:
df['Age'] = df['Year'] - df['Current']

In [39]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories  Current  Year  Age
0        60  '2020/12/01'  110.0       130     409.1     1990  2023   33
1        60  '2020/12/02'  117.0       145     479.0     1991  2023   32
2        60  '2020/12/03'  103.0       135     340.0     1992  2023   31
3        45  '2020/12/04'  109.0       175     282.4     1993  2023   30
4        45  '2020/12/05'  117.0       148     406.0     1994  2023   29

In [40]:
df.drop('Year', axis=1,inplace=True)

In [41]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories  Current  Age
0        60  '2020/12/01'  110.0       130     409.1     1990   33
1        60  '2020/12/02'  117.0       145     479.0     1991   32
2        60  '2020/12/03'  103.0       135     340.0     1992   31
3        45  '2020/12/04'  109.0       175     282.4     1993   30
4        45  '2020/12/05'  117.0       148     406.0     1994   29